<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
        <form  #userLogin="ngForm" (ngSubmit)="newUser()">
          <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" class="form-control" FormControlName="uname" [(ngModel)]="user.uname" [class.is-invalid]="uname.invalid && uname.touched" #uname="ngModel" required/>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" FormControlName="uname" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" required/>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" FormControlName="password" [(ngModel)]="user.password" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required/>
          </div>
          <br><br>
          <button type="submit" class="btn btn-success float-right" [disabled]="userLogin.form.invalid" >Signup</button>
        </form>
      </div>
      <!--/card-block-->
    </div>
    <!-- /form card login -->
  </div>
  </div>
  </div>